/*首页计时mask样式*/
.welcomeCanvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 888;
    background-color: black;
    transform-origin: 0 0;
    transition: all 0.5s linear;
}
.countdownCanvas {
    position: relative;
    margin: 0 auto;
    top: calc(50% - 50px);
    left: calc(50% - 225px);
}
.close {
    display: inline-block;
    position: absolute;
    height: 36px;
    width: 36px;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
.close::after, .close::before {
    content: '';
    display: inline-block;
    height: 36px;
    border: 1px solid white;
    transform-origin: 50%;
    position: absolute;
    left: 50%;
}
.close::after {
    transform: rotateZ(45deg);
}
.close::before {
    transform: rotateZ(-45deg);
}

/*时分秒及其他描述*/
.description {
    position: absolute;
    width: 560px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-align: center;
    user-select: none;
}
.description span {
    font-weight: bold;
    font-size: larger;
    display: inline-block;
}
.hms {
    position: absolute;
    bottom: 0;
}
.h {
    width: 230px;
}
.m, .s {
    width: 160px;
}

/*控制下拉首页计时mask的按钮样式*/
.showControl {
    display: inline-block;
    height: 0;
    width: 0;
    border-width: 12px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*
<div id="loading">
<div class="loading-logo" style="background-image: url(&quot;//activity.hdslb.com/ptjs/cross-year-pc-2019/prod/asserts/loading-logo.png&quot;);"></div>
<div class="num-tick"><div class="num-one" style="background-image: url(&quot;//activity.hdslb.com/ptjs/cross-year-pc-2019/prod/asserts/number-ten.png&quot;); transform: translateY(-990px);"></div>
<div class="num-two" style="background-image: url(&quot;//activity.hdslb.com/ptjs/cross-year-pc-2019/prod/asserts/number-ten.png&quot;); transform: translateY(-916.667px);"></div>
</div><div class="loading"><div id="progress" style="width: 98.3333%;"></div></div></div>
*/