@import '~antd/dist/antd.css';
@import './styles/loading.css';

.homepage-header {
  height: 10%;
  padding-top: 10%;
}

p.homepage-header-title {
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.5em;
  user-select: none;
  /*background:linear-gradient(to right, white, lightblue) ;
  color: transparent;*/
}
p.homepage-header-title span {
  font-size: small;
  font-weight: initial;
  letter-spacing: initial;
}

.homepage-content {
  height: 50%;
  padding-top: 5%;
}
.homepage-content p {
  text-align: center;
}

.demopage {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 8px;
}